In [30]:
#q1. try to print a prime number between 1 - 1000
def primes():
    for num in range(1,1000):
        if num > 1:
            for i in range(2,num):
                if (num % i) == 0:
                    break
            else:
                print(num)
primes()

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [38]:
#q2. write a function which is equivalent to print function using python

def mul(x,y=0):
    
    return x*y
print(mul(5))

0

In [2]:
#q3. try to write a function which is replace of list append extend and pop function
#append
a = [34,56,78,67]
a.insert(-500,-900)
print(a)

[-900, 34, 56, 78, 67]

In [4]:
#extend
a = [34,56,78,67]
a.insert(-500,-900)
print(a)

[-900, 34, 56, 78, 67]

In [9]:
#pop
d={"Mango", 10, "Cherry", 20, "Apple", 30, "Kiwi"}
print("The Original Set : ",d)

x=d.pop()
print("\npop Item              : ", x)
print("The Set After pop       : ", d)

y=d.pop()
print("\npop Item              :", y)
print("The Set After pop       : ", d)

The Original Set :  {'Cherry', 'Kiwi', 20, 'Apple', 'Mango', 10, 30}

pop Item              :  Cherry
The Set After pop       :  {'Kiwi', 20, 'Apple', 'Mango', 10, 30}

pop Item              : Kiwi
The Set After pop       :  {20, 'Apple', 'Mango', 10, 30}

In [10]:
#q4. try to write lambda function which can return a concatination of all the string that we will pass
currency = lambda n : f"${n:,.2f}"
percent = lambda n : f"{n:.2%}"

print(currency(99))
print(currency(123456789.09876543))

print(percent(0.065))
print(percent(.5))

$99.00
$123,456,789.10
6.50%
50.00%

In [32]:
#q5. Try to write a lambda function which can return a list of square of all the data between 1 - 100

int = range(1,100)
square = list(map(lambda x : x * x, int))
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [37]:
#q6. try to write different different examples of lambda function with a choice of your task

#1
l=[1,2,3,4]
l = map(lambda x : x * 10, l)
for num in l:
    print(num, end=" ")

10 20 30 40

In [38]:
#2
x = lambda a, b: a + b
print(x(3,4))

x = lambda a, b: a * b
print(x(3,4))

7
12

In [40]:
#3
l1=[3,4,6,7,8]
l1=filter(lambda x : x % 2 == 0, l1)

for num in l1:
    print(num, end=" ")

4 6 8

In [41]:
#3.
num = [98,76,54,34]
square = map(lambda n : n ** 2,num)

print(square)
print(list(square))

<map object at 0x000001FFBA109EB0>
[9604, 5776, 2916, 1156]

In [42]:
#4.
add_one = lambda x : x +1
print(add_one(4))

5

In [43]:
#5. 
double = lambda x : x * 2

print(double(5))

10

In [45]:
#6.
l2 = [1,5,4,6,8,11,3,12]
new_list = list(filter(lambda x : (x%2 == 0) , l2))

print(new_list)

[4, 6, 8, 12]

In [46]:
#7.
l3 = [1,5,4,6,8,11,3,12]
new_list = list(map(lambda x : x * 2 , l2))
print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

In [47]:
#8. 
total = lambda n1, n2, n3 : n1 + n2 +n3

print(f'total = {total(10, 20, 30)}')

total = 60

In [49]:
#9.
print("Addition")
add = lambda : 10 + 40
print(add())

print("Multiplication Values")
mul = lambda : 10 * 40
print(mul())

print("Subtraction")
sub = lambda : 220 - 10
print(sub())

Addition
50
Multiplication Values
400
Subtraction
210

In [50]:
#10
title = "HelloPython"
(lambda title: print(title))(title)

HelloPython

In [53]:
#q7. try to write a function which can perform read an operation . txt
f=open("C:\\Users\\ADMIN\\OneDrive\\Desktop\\abc.txt","r")
data=f.read(100)
print(data)

welcome